::-webkit-scrollbar {
  display: none;
}

::placeholder {
  color: #38A3A5;
}

@mixin list-null {
  margin: 0;
  padding: 0;
  list-style: none;
}

body {
  font-family: 'Open Sans', sans-serif;
  background-color: #F2FEF3;
}

a {
  // font-family: 'Open Sans', sans-serif;
  text-decoration: none;
}

h4 {
  margin: 0;
  padding: 0;
  font-size: 16px;
  color: #38A3A5;
}

p {
  margin: 0;
  padding: 0;
}

.btn {
  outline: none;
  background: none;
  border: none;
  cursor: pointer;
}

.app-wrapper {
  display: flex;
  height: calc(100vh - 4px);
}


.navbar {
  min-width: 60px;
  height: 100%;
  background-color: #38A3A5;
}

.menu-list {

  @include list-null;

  &__item {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    border-bottom: 3px solid #58B5B7;
  }

  &__link {

    i {
      color: #fff;
      font-size: 25px;
    }
  }
}


// ==== Dialog Bar ====
.dialog-bar {
  height: 100%;
  min-width: 270px;
  width: 20%;
  background-color: #D2F1F1;

  &__search {
    display: flex;
    align-items: center;
    height: 60px;
    border-radius: 15px;
    margin-left: 15px;
  }
}

.dialogs-wrapper {
  height: calc(100% - 60px);
  overflow-y: scroll;
}

.dialog-list {
  @include list-null;

  &__item {
    display: flex;
    align-items: center;
    padding: 30px 15px;
    cursor: pointer;
    transition: all .5s ease;    

    &:not(&_active) {
      border-bottom: 2px solid #99CBCC;

      &:hover {
        background-color: #61b6b8;
        transition: all .5s ease;
      }
    }

    &_active {
      background-color: #F2FEF3;
      border-right: 6px solid #38A3A5;

      &:hover {
        background-color: #c9f3cd;
        transition: all .5s ease;
      }
    }

  }

  &__user {
    position: relative;
  }

  &__photo {
    width: 40px;
    height: 40px;
    border-radius: 50px;
  }

  &__status {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 8px;
    height: 8px;
    border-radius: 50px;
    border: 3px solid #fff;

    &_online {
      background-color: #13CC47;
    }

    &_offline {
      background-color: #b3140f;
    }    
  }

  &__preview {
    margin-left: 15px;
  }

  &__username {
    font-size: 14px;
  }

  &__text {
    font-size: 13px;

    overflow:hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
    width: 20ch;
  }

  &__ago {
    margin-left: auto;
    font-size: 12px;
  }

}


// ==== Chat Wrapper ====
.chat-wrapper {
  position: relative;
  width: 60%;
  height: 100%;
}

.chat-header {
  display: flex;
  align-items: center;
  padding-left: 20px;

  border-bottom: 3px solid #D2F1F1;

  &__current-user {
    font-weight: bold;
  }
}

.chat-options {
  @include list-null;

  display: flex;
  margin-left: auto;

  &__item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    border-left: 3px solid #D2F1F1;
    cursor: pointer;

    .btn-option {
      width: 22px;
      height: 22px;

      &__call {
        background: transparent url('../img/icon-call.png') no-repeat top center / contain;
      }
  
      &__video {
        background: transparent url('../img/icon-video.png') no-repeat top center / contain;
      }
  
      &__more {
        background: transparent url('../img/icon-like.png') no-repeat top center / contain;  
      }
    }

  }
}

.chat-body {
  
}

.chat {
  height: calc(100vh - 166px);
  min-height: 100%;
  padding: 40px 30px 0 30px;
  margin: 0 auto;
  overflow-y: scroll;
  background-color: #fff;
  transform: rotate(180deg);
  direction: rtl;

  &__wrapper {
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-end;
  }

  &__message {   
    word-break: break-all;
    transform: rotate(180deg);
    direction: ltr;

    display: flex;
    max-width: 60%;
    width: max-content;
    margin-bottom: 40px;

    &_own {
      margin-left: auto;

      .chat__user {
        order: 1;
      }

      .chat__text-wrapper {
        margin-left: 0;
        margin-right: 20px;
        background-color: #B9F5C7;
      }
    }
  }

  &__user {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__photo {
    width: 40px;
    height: 40px;
    border-radius: 50px;
  }

  &__status {
    position: absolute;
    top: 28px;
    right: 0;
    width: 8px;
    height: 8px;
    border-radius: 50px;
    border: 3px solid #fff;


    &_online {
      background-color: #13CC47;
    }

  }

  &__ago {
    font-size: 12px;
    margin-top: 6px;
  }

  &__text-wrapper {
    display: flex;
    align-items: center;
    padding: 15px;
    margin-left: 20px;
    border-radius: 8px;
    background-color: #DBF0F0;
    color: #38A3A5;
  }


  &__text {
    line-height: 20px;
  }
}




.chat__form {
  position: absolute;
  height: 40px;
  left: 0;
  bottom: 0;
  width: -webkit-fill-available;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px;
  border-top: 3px solid #D2F1F1;
  background-color: #F2FEF3;

  form {
    display: flex;
    justify-content: space-between;
    width: 100%;

    input {
      width: 100%;
      margin-right: 12px;
      background-color: #F2FEF3;
      border-radius: 8px;
      padding-left: 12px;
      border: none;
      color: #38A3A5;

      

      &:focus {
        outline-color: #38A3A5;
      }
      
    }
  }
  
}




// ==== Contact Bar ====
.contact-bar {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 20%;
  margin-left: auto;
  border-left: 3px solid #D2F1F1;
  padding-top: 40px;

  &__photo {
    width: 150px;
    height: 150px;
    border-radius: 100px;
  }

  &__name {
    margin: 30px auto 25px;
  }
}


.socials {
  @include list-null;

  display: flex;

  &__item {

    &:not(:last-child) {
      margin-right: 25px;
    }
  }

  &__link {

    img {

    }
  }
}





.close-modal {
  cursor: pointer;

  img {
    width: 24px;
    height: 24px;
  }
}



.add-contacts-list {
  @include list-null;

  height: 200px;
  overflow-y: scroll;
  


  &__item {
    display: flex;
    align-items: center;
    padding: 12px;
    border-top: 2px solid rgb(189, 189, 189);

  }


  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 2px solid rgb(189, 189, 189);
    padding: 12px;
    height: 40px;
  }


  &__wrapper {

  }


  &__photo {
    width: 24px;
    height: 24px;
  }


  &__name {
    margin-left: 12px;

  }

}









.overlay {
  background-color: rgba(46, 46, 46, 0.5);
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.modal-popup {
  position: absolute;
  display: none;
  left: 50%;
  top: 40px;
  transform: translateX(-50%);
  width: 300px;
  height: 266px;
  background-color: rgb(240, 240, 240);
  z-index: 2;
}




.hide {
  display: none;
}

.show {
  display: block!important;
}