@media screen and (min-width: 1300px) {

 

}
/* 992 - 1200 px */
@media screen and (max-width: 1024px) {


  .contacts-bar {
    width: 40%;
  }

  .chat {
    width: 60%;

  }


  .contact-info {
    display: none;
  }
  


}


/* 768 - 992 px */
@media screen and (max-width: 992px) {
  
  
}


/* 576 - 768 px */
@media screen and (max-width: 768px) {


}

@media screen and (max-width: 576px) {
 
  
}
@media screen and (max-width: 460px) {

  

  

}
@media screen and (max-width: 320px) {
  
  

}
